In [2]:
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim
from deep_translator import GoogleTranslator
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_excel('Viz4SocialGood_submissionV1.xlsx', sheet_name='Energy_sol_data')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 44 columns):
 #   Column                                                                                                                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                                                                                                                       --------------  -----
 0   contribution_date                                                                                                                                                                                            357 non-null    object
 1   new_date                                                                                                                                                                                                     357 non-null    object
 2   id                                                                                                                                                                                                           359 non-null    int64
 3   Energy source                                                                                                                                                                                                355 non-null    object
 4   Clean cooking application (yes)                                                                                                                                                                              82 non-null     object
 5   title                                                                                                                                                                                                        359 non-null    object
 6   Mapper                                                                                                                                                                                                       359 non-null    object
 7   Contributor anonymized                                                                                                                                                                                       359 non-null    object
 8   What is the purpose of the solution? (brief problem & solution description)                                                                                                                                  347 non-null    object
 9   Please insert a link to the solution                                                                                                                                                                         126 non-null    object
 10  This solution is Do it Yourself / open source                                                                                                                                                                100 non-null    object
 11  This solution is protected by Intellectual Property                                                                                                                                                          41 non-null     object
 12  The solution holder is able to train others (including end-users) in using or replicating the solution                                                                                                       127 non-null    object
 13  What is the unit cost of this Solution along with any additional cost for maintenance and training?                                                                                                          70 non-null     object
 14  This solution is a Prototype                                                                                                                                                                                 69 non-null     object
 15  This solution is a Product                                                                                                                                                                                   124 non-null    object
 16  If this solution is a product, is it available in market?                                                                                                                                                    64 non-null     object
 17  If this solution is a product, does advance order has to be given?                                                                                                                                           61 non-null     object
 18  What is the Technological Readiness Level (TRL) of this solution?                                                                                                                                            126 non-null    object
 19  How much has this solution already been diffused? Is there potential feedback from end-users available?                                                                                                      103 non-null    object
 20  Please upload a link of end-user feedback                                                                                                                                                                    27 non-null     object
 21  Are there any efficiency benchmarks for this solution (eg. how much energy does it save; how much cheaper does it produce energy than current market rates/ current household expenditure / cost per kW h)?  58 non-null     object
 22  Are there any other potential bottlenecks affecting cross-border or in country diffusion of this solution?                                                                                                   53 non-null     object
 23  What Sustainable Development Goal is this Solution addressing? Tag 1                                                                                                                                         325 non-null    float64
 24  What Sustainable Development Goal is this Solution addressing? Tag 2                                                                                                                                         237 non-null    float64
 25  What Sustainable Development Goal is this Solution addressing? Tag 3                                                                                                                                         178 non-null    float64
 26  What Sustainable Development Goal is this Solution addressing? Tag 4                                                                                                                                         75 non-null     float64
 27  What Sustainable Development Goal is this Solution addressing? Tag 5                                                                                                                                         18 non-null     float64
 28  What thematic tags apply to this solution? Tag 1                                                                                                                                                             320 non-null    object
 29  What thematic tags apply to this solution? Tag 2                                                                                                                                                             282 non-null    object
 30  What thematic tags apply to this solution? Tag 3                                                                                                                                                             213 non-null    object
 31  What thematic tags apply to this solution? Tag 4                                                                                                                                                             124 non-null    object
 32  What thematic tags apply to this solution? Tag 5                                                                                                                                                             45 non-null     object
 33  Latitude                                                                                                                                                                                                     359 non-null    object
 34  Longitude                                                                                                                                                                                                    359 non-null    object
 35  image_1                                                                                                                                                                                                      322 non-null    object
 36  image_2                                                                                                                                                                                                      87 non-null     object
 37  image_3                                                                                                                                                                                                      33 non-null     object
 38  image_4                                                                                                                                                                                                      13 non-null     object
 39  image_5                                                                                                                                                                                                      3 non-null      object
 40  image_6                                                                                                                                                                                                      2 non-null      object
 41  image_7                                                                                                                                                                                                      2 non-null      object
 42  image_8                                                                                                                                                                                                      2 non-null      object
 43  image_9                                                                                                                                                                                                      1 non-null      object
dtypes: float64(5), int64(1), object(38)
memory usage: 123.5+ KB

In [5]:
df.head()

,contribution_date,new_date,id,Energy source,Clean cooking application (yes),title,Mapper,Contributor anonymized,What is the purpose of the solution? (brief problem & solution description),Please insert a link to the solution,...,Longitude,image_1,image_2,image_3,image_4,image_5,image_6,image_7,image_8,image_9
0,Sun May 30 2021 13:48:32 GMT+0000 (Coordinated...,Sun May 30 2021 13:48:32,3100,Thermal,NaN,Eco Char,AccLab Algeria,Contributor 1,We upcycle wastes such as food organic wastes ...,NaN,...,3.0261856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mon Jun 28 2021 13:56:30 GMT+0000 (Coordinated...,Mon Jun 28 2021 13:56:30,3177,Wind,NaN,Wind power generator,AccLab Angola,Contributor 2,The system to obtain electrical energy through...,NaN,...,13.6010742,file: img-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mon Jun 28 2021 13:32:36 GMT+0000 (Coordinated...,Mon Jun 28 2021 13:32:36,3176,Hydro,NaN,Hybrid Generator,AccLab Angola,Contributor 3,The production of fuel from water is done thro...,NaN,...,16.0817871,file: img-121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Thu Nov 12 2020 06:03:43 GMT+0000 (Coordinated...,Thu Nov 12 2020 06:03:43,2261,Renewable general,NaN,Electric Power Microgeneration System,AccLab Angola,Contributor 4,The electric power microgeneration system is d...,NaN,...,15.687688,file: img-230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Wed Jul 21 2021 10:12:39 GMT+0000 (Coordinated...,Wed Jul 21 2021 10:12:39,3236,Household application,x,Solar Cooker,AccLab Angola,Contributor 5,Solar Cooker\n\n\n\t\t\t\n\n\n\t\t\t\n\n\n\t\t\t,NaN,...,13.8098145,file: img-305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Drop contribution_date column

df.drop('contribution_date', axis=1, inplace=True)

In [7]:
# Define new column name

existing_cols = {
    'new_date':'Date',
    'id':'Project ID',
    'Energy source':'Energy Source',
    'Clean cooking application (yes)':'Clean Cooking',
    'title':'Title',
    'Mapper':'UNDP Accelerator Lab',
    'Contributor anonymized':'Contributor',
    'What is the purpose of the solution? (brief problem & solution description)':'Solution Description',
    'Please insert a link to the solution':'Solution URL',
    'This solution is Do it Yourself / open source':'Open Source',
    'This solution is protected by Intellectual Property':'IP Protected',
    'The solution holder is able to train others (including end-users) in using or replicating the solution':'User Trainable',
    'What is the unit cost of this Solution along with any additional cost for maintenance and training?':'Unit Cost',
    'This solution is a Prototype':'Prototype',
    'This solution is a Product':'Product',
    'If this solution is a product, is it available in market?':'Available in Market',
    'If this solution is a product, does advance order has to be given?':'Advance Order Placement',
    'What is the Technological Readiness Level (TRL) of this solution?':'Technological Readiness Level',
    'How much has this solution already been diffused? Is there potential feedback from end-users available?':'Diffusion Status and End-Users Feedback',
    'Please upload a link of end-user feedback':'End-Users Feedback URL',
    'Are there any efficiency benchmarks for this solution (eg. how much energy does it save; how much cheaper does it produce energy than current market rates/ current household expenditure / cost per kW h)?':'Efficiency Outcome',
    'Are there any other potential bottlenecks affecting cross-border or in country diffusion of this solution?':'Potential Challenges',
    'What Sustainable Development Goal is this Solution addressing? Tag 1':'SDG Tag 1',
    'What Sustainable Development Goal is this Solution addressing? Tag 2':'SDG Tag 2',
    'What Sustainable Development Goal is this Solution addressing? Tag 3':'SDG Tag 3',
    'What Sustainable Development Goal is this Solution addressing? Tag 4':'SDG Tag 4',
    'What Sustainable Development Goal is this Solution addressing? Tag 5':'SDG Tag 5',
    'What thematic tags apply to this solution? Tag 1':'Thematic Tag 1',
    'What thematic tags apply to this solution? Tag 2':'Thematic Tag 2',
    'What thematic tags apply to this solution? Tag 3':'Thematic Tag 3',
    'What thematic tags apply to this solution? Tag 4':'Thematic Tag 4',
    'What thematic tags apply to this solution? Tag 5':'Thematic Tag 5',
    'Latitude ':'Latitude',
    'Longitude ':'Longitude',
    'image_1':'Image 1',
    'image_2':'Image 2',
    'image_3':'Image 3',
    'image_4':'Image 4',
    'image_5':'Image 5',
    'image_6':'Image 6',
    'image_7':'Image 7',
    'image_8':'Image 8',
    'image_9':'Image 9' 
}

In [8]:
df.rename(columns=existing_cols, inplace=True)

In [9]:
for col in df.columns:
    print(col)

Date
Project ID
Energy Source
Clean Cooking
Title
UNDP Accelerator Lab
Contributor
Solution Description
Solution URL
Open Source
IP Protected
User Trainable
Unit Cost
Prototype
Product
Available in Market
Advance Order Placement
Technological Readiness Level
Diffusion Status and End-Users Feedback
End-Users Feedback URL
Efficiency Outcome
Potential Challenges
SDG Tag 1
SDG Tag 2
SDG Tag 3
SDG Tag 4
SDG Tag 5
Thematic Tag 1
Thematic Tag 2
Thematic Tag 3
Thematic Tag 4
Thematic Tag 5
Latitude
Longitude
Image 1
Image 2
Image 3
Image 4
Image 5
Image 6
Image 7
Image 8
Image 9

#### Create Image Files Dataframe

In [10]:
# Cleanup: "file: ", remove NaN

df_images = df[['Project ID', 'Image 1', 'Image 2', 'Image 3', 'Image 4', 
'Image 5', 'Image 6', 'Image 7', 'Image 8', 'Image 9']]

In [11]:
# Pivot data

df_images = pd.melt(df_images, id_vars='Project ID', value_name='Image Filename')

In [12]:
# Drop var_name column (defaults to 'variable')

df_images = df_images.drop('variable', axis=1)

In [13]:
# Drop rows with no image filenames

df_images = df_images.dropna(subset = ['Image Filename'])

In [14]:
# Cleanup filenames: remove file from image filename

df_images['Image Filename'] = df_images['Image Filename'].str.replace("file: ","")

In [15]:
df_images.head()

   Project ID Image Filename
1        3177         img-10
2        3176        img-121
3        2261        img-230
4        3236        img-305
5        3240        img-324

#### Create Thematic Tags Dataframe

In [16]:
# Cleanup: "file: ", remove NaN

df_thematic_tags = df[['Project ID', 'Thematic Tag 1','Thematic Tag 2','Thematic Tag 3',
                      'Thematic Tag 4','Thematic Tag 5']]

In [17]:
# Pivot data

df_thematic_tags = pd.melt(df_thematic_tags, id_vars='Project ID', value_name='Thematic Tags')

In [18]:
# Drop var_name column (defaults to 'variable')

df_thematic_tags = df_thematic_tags.drop('variable', axis=1)

In [19]:
# Drop rows with no thematic tags

df_thematic_tags = df_thematic_tags.dropna(subset = ['Thematic Tags'])

In [20]:
df_thematic_tags.head()

   Project ID          Thematic Tags
0        3100  food waste management
1        3177     alternative energy
3        2261           clean energy
4        3236             innovation
5        3240     alternative energy

#### Create Sustainable Development Goals Data Frame

In [21]:
# Cleanup: "file: ", remove NaN

df_SDG = df[['Project ID','SDG Tag 1','SDG Tag 2','SDG Tag 3','SDG Tag 4','SDG Tag 5']]

In [22]:
# Pivot data

df_SDG = pd.melt(df_SDG, id_vars='Project ID', value_name='SDG No.')

In [23]:
# Drop var_name column (defaults to 'variable')

df_SDG = df_SDG.drop('variable', axis=1)

In [24]:
# Drop rows with no goals

df_SDG = df_SDG.dropna(subset = ['SDG No.'])

In [25]:
# Remove decimals from goals

df_SDG['SDG No.'] = df_SDG['SDG No.'].astype(str).apply(lambda x: x.replace('.0',''))

In [26]:
# Convert SDG No. column to int again

df_SDG['SDG No.'] = df_SDG['SDG No.'].astype('int')

In [27]:
# Sustainable goals lookup and definitions
# https://sdgs.un.org/goals
# SDG = Sustainable Development Goals

SDG = {
    1:"No Poverty",
    2:"Zero Hunger",
    3:"Good Health and Well-Being",
    4:"Quality Education",
    5:"Gender Equality",
    6:"Clean Water and Sanitation",
    7:"Affordable and Clean Energy",
    8:"Decent Work and Economic Growth",
    9:"Industry, Innovation and Infrastructure",
    10:"Reduced Inequalities",
    11:"Sustainable Cities and Communities",
    12:"Responsible Consumption and Production",
    13:"Climate Action",
    14:"Life Below Water",
    15:"Life on Land",
    16:"Peace, Justice and Strong Institutions",
    17:"Partnerships for the Goals",
}

In [28]:
# Combine SDG dataframe with the SDG titles mapping the relevant titles

df_SDG['SDG Title'] = df_SDG['SDG No.'].map(SDG)

In [29]:
df_SDG

      Project ID  SDG No.                               SDG Title
0           3100        1                              No Poverty
1           3177        1                              No Poverty
2           3176       10                    Reduced Inequalities
3           2261        1                              No Poverty
4           3236        7             Affordable and Clean Energy
...          ...      ...                                     ...
1622        2769       17              Partnerships for the Goals
1641        4661       11      Sustainable Cities and Communities
1713        1810       12  Responsible Consumption and Production
1718        4701       13                          Climate Action
1749        1139       10                    Reduced Inequalities

[833 rows x 3 columns]

#### Create Location Dataframe

In [30]:
# Cleanup

df_location = df[['Project ID', 'UNDP Accelerator Lab', 'Latitude', 'Longitude']]

In [31]:
# Replacing 'xxxxx' to '0000' - (' ' replaced xxxxx after the first attempt)

df_location['Latitude'].replace('xxxxx','0000', inplace=True)

In [32]:
# Replacing 'xxxx' to '0000' - (' ' replaced xxxxx after the first attempt)

df_location['Latitude'].replace('xxxx','0000', inplace=True)

In [33]:
# Converting datatype to float from object

df_location['Latitude'] = df_location.Latitude.astype(float)

In [34]:
#Replacing 'xxxxx' to '0000'

df_location['Longitude'].replace('xxxxx','0000', inplace=True)

In [35]:
#Converting datatype to float from object

df_location['Longitude'] = df_location.Longitude.astype(float)

In [36]:
# Calling the nominatim tool

geoLoc = Nominatim(user_agent="GetLoc")

In [37]:
# Passing the coordinates

df_location['Address'] = df_location.apply(lambda row: geoLoc.reverse(f"{row['Latitude']},{row['Longitude']}").raw['address']
                                                                        ,axis=1)

In [38]:
# Join the values of the Address Dictionary as string excluding country code

df_location['Address 1'] = df_location.apply(lambda row: ', '.join(list(row['Address'].values())[:-1]),axis=1)

In [39]:
# Translate the address with Deep-Translator Library

df_location['Address 2'] = df_location.apply(lambda row: GoogleTranslator(source='auto', 
                            target='en').translate(row['Address 1']),axis=1)

In [40]:
# Add country column based on 'UNDP Accelerator Lab'

def country(row):
    if 'AccLab' in row['UNDP Accelerator Lab']:
        return ' '.join(row['UNDP Accelerator Lab'].split()[1:])
    return 'India'

In [41]:
df_location['Country'] = df_location.apply(country,axis=1)

In [42]:
# Drop Address 1 column

df_location.drop('Address 1', axis=1, inplace=True)

In [43]:
# Rename Address and Address 2 columns

existing_cols = {
    'Address':'Address Dictionary',
    'Address 2':'Address'
}

In [44]:
df_location.rename(columns=existing_cols, inplace=True)

In [45]:
# Merge the UNDP regional bureau offices data containing the distribution of countries with df_location

# Import sheets and create dataframes for each regonal bureau office data

# Regional Bureau for Africa (RBA)

df_rb_africa = pd.read_excel('Viz4SocialGood_submissionV1.xlsx', sheet_name='RB_Africa')

In [46]:
# Regional Bureau for Asia and Pacific (RBAP)

df_rb_asia_pacific = pd.read_excel('Viz4SocialGood_submissionV1.xlsx', sheet_name='RB_Asia_Pacific')

In [47]:
# Regional Bureau for Arab States (RBAS)

df_rb_arab_states = pd.read_excel('Viz4SocialGood_submissionV1.xlsx', sheet_name='RB_Arab States')

In [48]:
# Regional Bureau for Europe and the Commonwealth of Independent States (RBEC)

df_rb_europe_cis = pd.read_excel('Viz4SocialGood_submissionV1.xlsx', sheet_name='RB_Europe_CIS')

In [49]:
# Regional Bureau for Latin American Countries (RBLAC)

df_rb_latin_america = pd.read_excel('Viz4SocialGood_submissionV1.xlsx', sheet_name='RB_Latin America')

In [50]:
# Rename columns of the dataframes so that they match and a merge can be performed after

col_dict = {
             'Regional Bureau for Africa (RBA)': 'Regional Bureau',
             'Regional Bureau for Asia and Pacific (RBAP)': 'Regional Bureau',
             'Regional Bureau for Arab States (RBAS)': 'Regional Bureau',
             'Regional Bureau for Europe and the Commonwealth of Independent States (RBEC)': 'Regional Bureau',
             'Regional Bureau for Latin American Countries (RBLAC)': 'Regional Bureau'
            }

In [51]:
# Column rename() method

df_rb_africa.rename(columns=col_dict, inplace=True)

In [52]:
df_rb_asia_pacific.rename(columns=col_dict, inplace=True)

In [53]:
df_rb_arab_states.rename(columns=col_dict, inplace=True)

In [54]:
df_rb_europe_cis.rename(columns=col_dict, inplace=True)

In [55]:
df_rb_latin_america.rename(columns=col_dict, inplace=True)

In [56]:
# Concatenate all regional bureau columns

df_regional_bureau = pd.concat([df_rb_africa,df_rb_asia_pacific,df_rb_arab_states,df_rb_europe_cis,
                                df_rb_latin_america], ignore_index=True,axis=0)

In [57]:
# Concatenate all regional bureau columns df_regional_bureau and df_location

df_location_with_regional_bureau = pd.merge(right=df_location, left=df_regional_bureau, how="right", on="Country")

In [58]:
# Reorder columns

new_columns = ['Project ID','Country','Regional Bureau','UNDP Accelerator Lab','Latitude','Longitude','Address','Address Dictionary']

In [59]:
df_location_with_regional_bureau = df_location_with_regional_bureau[new_columns]

In [60]:
df_location_with_regional_bureau.head()

,Project ID,Country,Regional Bureau,UNDP Accelerator Lab,Latitude,Longitude,Address,Address Dictionary
0,3100,Algeria,RBAS,AccLab Algeria,36.760735,3.026186,"UNDP, Rue Mohamed Khoudi, El Biar ⵍⴻⴱⵢⴰⵔ El Bi...","{'office': 'برنامج الأمم المتحدة الإنمائي', 'r..."
1,3177,Angola,RBA,AccLab Angola,-12.833226,13.601074,"Benguela, AO-BGU, Angola","{'state': 'Benguela', 'ISO3166-2-lvl4': 'AO-BG..."
2,3176,Angola,RBA,AccLab Angola,-8.515836,16.081787,"Malanje, AO-MAL, Angola","{'state': 'Malanje', 'ISO3166-2-lvl4': 'AO-MAL..."
3,2261,Angola,RBA,AccLab Angola,-12.776115,15.687688,"Huambo, Huambo, AO-HUA, Angola","{'city': 'Huambo', 'state': 'Huambo', 'ISO3166..."
4,3236,Angola,RBA,AccLab Angola,-12.865360,13.809814,"Benguela, AO-BGU, Angola","{'state': 'Benguela', 'ISO3166-2-lvl4': 'AO-BG..."

#### Create Unit Cost Dataframe

In [61]:
df_cost = df[['Project ID', 'Unit Cost']]

In [62]:
df_cost.head(5)

   Project ID Unit Cost
0        3100       NaN
1        3177       NaN
2        3176       NaN
3        2261       NaN
4        3236       NaN

#### Create Solutions Info Dataframe

In [63]:
# Dataframe Containing Main Solutions Info

df_UNDP_Project_Data = df[['Project ID','Date','Title','Contributor',
              'Energy Source','Clean Cooking','Solution Description','Solution URL','Open Source','IP Protected',
              'User Trainable','Prototype','Product','Available in Market',
              'Advance Order Placement','Technological Readiness Level','Diffusion Status and End-Users Feedback',
              'End-Users Feedback URL','Efficiency Outcome','Potential Challenges']]

In [64]:
# Update Date in df_UNDP_Project_Data
# Update new_date to MM/DD/YYYY

df_UNDP_Project_Data['Date'] = df_UNDP_Project_Data['Date'].str[4:]

In [65]:
df_UNDP_Project_Data['Date'] = df_UNDP_Project_Data['Date'].str[:-9]

In [66]:
# Create pandas series for the main dataframe's Date

date_series = pd.Series(df_UNDP_Project_Data.Date)

In [67]:
# The str extract method is used to extract out the month, day and year into individual pandas series

month = date_series.str.extract(r'([a-zA-Z]+)', expand=True)

In [68]:
day = date_series.str.extract(r'(\d{2})', expand=True)

In [69]:
year = date_series.str.extract(r'(\d{4})', expand=True)

In [70]:
# Convert written month to digits

month_dict = {
            'Jan':'01', 
             'Feb':'02',
             'Mar':'03',
             'Apr':'04',
             'May':'05',
             'Jun':'06',
             'Jul':'07',
             'Aug':'08',
             'Sep':'09',
             'Oct':'10',
             'Nov':'11',
             'Dec':'12'
            }

In [71]:
for key, value in month_dict.items():
    month = month.replace(key, value)

In [72]:
# Build the new date field

df_UNDP_Project_Data['New Date'] = month + '/' + day + '/' + year

In [73]:
# Drop initial date fields

df_UNDP_Project_Data = df_UNDP_Project_Data.drop(['Date'], axis=1)

In [74]:
# Rename date column

df_UNDP_Project_Data = df_UNDP_Project_Data.rename({'New Date':'Date'}, axis=1)

In [75]:
# Reorder Columns

new_columns = ['Project ID','Date','Title','Contributor',
              'Energy Source','Clean Cooking','Solution Description','Solution URL','Open Source','IP Protected',
              'User Trainable','Prototype','Product','Available in Market',
              'Advance Order Placement','Technological Readiness Level','Diffusion Status and End-Users Feedback',
              'End-Users Feedback URL','Efficiency Outcome','Potential Challenges']

In [76]:
df_UNDP_Project_Data = df_UNDP_Project_Data[new_columns]

In [77]:
# Update each column that has a boolean response of x with YES, and NaN with NO

bool_clean = ['Clean Cooking','Open Source','IP Protected','User Trainable',
              'Prototype','Product','Available in Market','Advance Order Placement']

In [78]:
# Replacing above items with either False or True doesn't change the column's datatype to bool

for item in bool_clean:
    df_UNDP_Project_Data[item] = df_UNDP_Project_Data[item].fillna("NO").replace(['x'],'YES')

In [79]:
# Fill each row that is empty for columns with free text to empty string from NaN

free_text_clean = ['Date','Energy Source','Solution Description','Solution URL',
                   'Technological Readiness Level','Diffusion Status and End-Users Feedback','End-Users Feedback URL','Efficiency Outcome',
                   'Potential Challenges']

In [80]:
for item in free_text_clean:
    df_UNDP_Project_Data[item] = df_UNDP_Project_Data[item].fillna("")

In [81]:
df_UNDP_Project_Data

,Project ID,Date,Title,Contributor,Energy Source,Clean Cooking,Solution Description,Solution URL,Open Source,IP Protected,User Trainable,Prototype,Product,Available in Market,Advance Order Placement,Technological Readiness Level,Diffusion Status and End-Users Feedback,End-Users Feedback URL,Efficiency Outcome,Potential Challenges
0,3100,05/30/2021,Eco Char,Contributor 1,Thermal,NO,We upcycle wastes such as food organic wastes ...,,NO,NO,NO,NO,NO,NO,NO,,,,,
1,3177,06/28/2021,Wind power generator,Contributor 2,Wind,NO,The system to obtain electrical energy through...,,NO,NO,NO,NO,NO,NO,NO,,,,,
2,3176,06/28/2021,Hybrid Generator,Contributor 3,Hydro,NO,The production of fuel from water is done thro...,,NO,NO,NO,NO,NO,NO,NO,,,,,
3,2261,11/12/2020,Electric Power Microgeneration System,Contributor 4,Renewable general,NO,The electric power microgeneration system is d...,,NO,NO,NO,NO,NO,NO,NO,,,,,
4,3236,07/21/2021,Solar Cooker,Contributor 5,Household application,YES,Solar Cooker\n\n\n\t\t\t\n\n\n\t\t\t\n\n\n\t\t\t,,NO,NO,NO,NO,NO,NO,NO,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,5089,06/09/2022,Two way Blower & Sucker Machine for Coal Stove,Contributor 355,Household application,YES,This innovation is used for blowing air on to ...,,NO,NO,NO,NO,YES,NO,NO,,,,,
355,5090,06/09/2022,Modified Brazier,Contributor 356,Household application,NO,The Innovator has developed a brazier having t...,,NO,NO,NO,NO,NO,NO,NO,,,,,
356,5091,06/09/2022,Modified Cooking Stove,Contributor 357,Household application,YES,The Innovatorhas developed a modified cooking ...,,YES,NO,NO,YES,NO,NO,NO,,,,,
357,5092,06/09/2022,Air- Energized Cooking Stove,Contributor 358,Household application,YES,The Innovator observed that using charcoal in ...,,NO,NO,NO,NO,YES,NO,NO,,,,,
358,5094,06/09/2022,Modified Wood Stove,Contributor 359,Household application,YES,The Innovator noticed the workers taking long ...,,NO,NO,NO,NO,YES,NO,NO,,,,,

In [82]:
# Combine all cleaned up dataframes into one excel workbook

with pd.ExcelWriter('vfsg_undp_clean_dataset.xlsx') as writer:  
    df_UNDP_Project_Data.to_excel(writer, sheet_name='Dataset',index=False)
    df_images.to_excel(writer, sheet_name='Images',index=False)
    df_SDG.to_excel(writer, sheet_name='SDG',index=False)
    df_thematic_tags.to_excel(writer, sheet_name='Thematic Tags',index=False)
    df_location_with_regional_bureau.to_excel(writer, sheet_name='Location',index=False)
    df_cost.to_excel(writer, sheet_name='Cost',index=False)